@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Italianno&family=Merriweather:wght@300;400&display=swap');

body {
    /* height: 100vh; */
    background: white;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    top: 0;
    margin-bottom: 20px;
    padding: 20px;
    position: fixed;
    background: white;
    width: 99%;
}

.logo {
    height: 50px;
    display: inline;
    margin-right: 20px;
}

.name {
    margin-right: auto;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 2.75em;
}

a {
    margin: 0px 20px;
    text-decoration: none;
    font-family: Merriweather, serif;
}

.navBreaks {
    text-decoration: none;
    font-family: Merriweather, serif;
    color: #3c5d8b;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 145px;
    
}

h1 {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #3c5d8b;
    text-align: center;
    margin-top: 45px;
}

h2 {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #3c5d8b;
    text-align: center;
}

h3 {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    color: #3c5d8b;
    text-align: center;
}

.bioP {
    align-self: center;
    max-width: 400px;
    margin-left: 40px;
}

p {
    font-family: Merriweather, serif;
}

li {
    font-family: Merriweather, serif;
}

.bioPhoto {
    
    border-radius: 50%;
    width: 400px;
    height: 400px;
    
}

.resume {
    text-align: center;
}

.pdfButton {
    width: fit-content;
    text-align: center;
    background: #3c5d8b;
    color: white;
    margin: auto;
    padding: 13px;
    border-radius: 10px;
}

hr {
    width: 75%;
    background: #3c5d8b;
    height: 2px;
    border-radius: 3px;
    margin-top: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.card {
    max-width: 30%;
    height: 436px;
    background: #ebf7f7;
    margin: 20px;
    padding: 17px;
    border-radius: 15px;
    color: #3c5d8b;
}

.card-design {
    max-width: 30%;
    height: 580px;
    background: #ebf7f7;
    margin: 20px;
    padding: 17px;
    border-radius: 15px;
    color: #3c5d8b;
}

.thumbnail {
    width: 350px;
}

.card-pr {
    max-width: 30%;
    height: 387px;
    background: #ebf7f7;
    margin: 20px;
    padding: 17px;
    border-radius: 15px;
    color: #3c5d8b;
}

.lastP {
    text-align: center;
}

.back-to-top {
    position: fixed;
    right: 3em;
    bottom: 3em;
    cursor: pointer;
    border-radius: 100%;
    background: #ebf7f7;
    padding: 0.5rem;
    border: none;
    opacity: 100%;
    transition: opacity 1s;
  }

  .back-to-top:hover {
    opacity: 60%;
  }

  .back-to-top-icon {
    width: 2rem;
    height: 2rem;
  }

  .hidden {
    opacity: 0;
  }

  .progress-bar {
    height: .5rem;
    background: #3c5d8b;
    position: fixed;
    bottom: 0;
    left: 0;
  }

/* footer styling */
.footer {
    margin-bottom: 0;
    margin-top: 100px;
    color: white;
    height: 140px;
    background: #3c5d8b;
    text-align: center;
    font-family: merriweather, serif;
    font-size: 12px;
    padding-top: 25px;
  }

 .footerBreak {
    width: 230px;
    background: white;
    height: 0px;
  }